.tabs {
    &_items {
        display: flex;
        padding: 10px;
    }

    &__item {
        flex: 0 1 33.333%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: royalblue;
        span {
            position: relative;
            z-index: 2;
            @media (max-width: 600px) {
                display: block;
                width: 100px;
                white-space: nowrap;
                text-align: center;
                overflow: hidden;
                font-size: 14px;
                text-overflow: ellipsis;
            }
        }
    }

    &__body {
    }
    &__block {
        padding: 20px;
        font-size: 18px;
        line-height: 24px;
        display: none;
        position: relative;
        &:before {
            content: "";
            height: 50px;
            width: 33.333%;
            position: absolute;
            top: -50px;
        }
        &:nth-child(1) {
            background-color: salmon;
            &:before {
                background-color: salmon;
                left: 0;
            }
        }

        &:nth-child(2) {
            background-color: blue;
            &:before {
                background-color: blue;
                left: 33.333%;
            }
        }
        &:nth-child(3) {
            background-color: sienna;
            &:before {
                background-color: sienna;
                right: 0;
            }
        }
        &:target {
            display: block;
        }
    }
}
